bin/
examples/slither/slither
/slither
/4node-basic
web/node_modules/
web/dist/*
!web/dist/README.md
**/node_modules/
**/dist/*
!**/dist/README.md
*.log
*.env
.DS_Store
data/*
.superpowers
.worktrees/
gen/
